#!! ERROR: code is undefined. Use list command to see defined gitignore types !!#

### CodeIgniter ###
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
